:root {
    --bg-button: #4e4e4e;
    --border-button: solid 1px #888;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active { /* quando clicar no botão*/
    background-color: rgb(46, 46, 46);
}

.button.double { /* quando o botão ocupa duas posições */
    grid-column: span 2;

}

.button.triple { /* quando o botão ocupa três posições*/
    grid-column: span 3;

}